.carteAccueil{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.carte{
    background-color: #C7D076;
    background-size: auto;
    border-radius: 10px;
    width: 25vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.carte p{
    font-size: 1.5em;
}

.carteAccueil img{
    width: 40%;
}

.instagram{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.instagram h3{
    font-size: 3rem;
}

.instagram p{
    font-size: 1rem;
    color: #F8F1E1;
}

.instagram img{
    filter: invert();
}

@media screen and (max-width: 900px) {
    h1{
            font-size: 2rem;
        }
    
        .texteEnTete h2{
            font-size: 1.5rem;
        }
    
        .texteEnTete h3{
            font-size: 1.2rem;
        }
    
        .carteAccueil{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
        }
    
        .carteAccueil .carte{
            width: 75%;
            height: auto;
            margin-bottom: 5%;
        }
    
        .instagram{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .instagram h3{
            text-align: center;
            font-size: 2rem;
            margin-bottom: 2%;
        }
    
        .instagram button{
            font-size: 1rem;
            text-align: center;
            width: 75%;
        }
    
        .instagram p{
            display: none;
        }
    
        .instagram img{
            display: none;
        }
    
        .caroussel{
            display: none;
        }   
}

/* Caroussel */

.swiper {
    width: 30%;
    height: 500px;
  }

  .swiper-slide, .swiper-wrapper{
    width: 100%;
  }

  .swiper-slide > img{
    width: 100%;
  }