h1{
    position: absolute;
    top: 10%;
    margin-left: 5%;
}

[class^="prix"]{
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}

.prixPoke, .prixDessert, .prixLimonade{
    justify-content: space-around;
}

.transparent{
    color: transparent;
}

[class^="prix"] h2{
    font-size: 400%;
}

[class^="prix"] p{
    font-size: 200%;
}

.plats{
    display: flex;
    justify-content: space-evenly;
}

.carte{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carte img{
    width: 50%;
}

.carte h3{
    font-size: 200%;
}

.carte p{
    font-size: 150%;
    margin-bottom: 1%;
}

.vege{
    text-align: center;
}
.vege img{
    width: 5%;
}

.prixLimonade, .prixDessert{
    margin-top: 5%;
}