.imageEnTete{
    position: relative;
    display: inline-block;
    margin-bottom: 5%;
}

.imageEnTete img{
    display: block;
    width: 100%;
    opacity: 0.5;
}

.imageEnTete span{
    color: transparent;
}

.imageEnTete .texteEnTete{
    position: absolute;
    top: 10%;
    margin-left: 5%;
}

h1{
    font-size: 5rem;
}

.texteEnTete h2{
    font-size: 3rem;
}

.texteEnTete h3{
    font-size: 2rem;
}
