h1{
    text-align: center;
    font-size: 5rem;
}

h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2%;
}

.containerCartes{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.carte{
    display: flex;
    flex-direction: column;
}

.carte img{
    width: 20rem;
}

.bouton{
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    color: #C7D076;
    background-color: #513829;
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    margin-bottom: 4%;
}

.bouton p:nth-child(odd){
    cursor: pointer;
}

.recette{
  margin-left: 10%;
  font-size: 1.7rem;
}

@media screen and (max-width : 900px) {
    h1{
        font-size: 4rem;
    }

    .containerCartes{
        flex-wrap: wrap;
    }

    .carte{
        margin-bottom: 5%;
    }
}
