* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    background-color: #F8F1E1;
}

header{
    position:relative;
}

header, footer{
    background-color: #D5AA7D;
    width: 100%;
}

footer{
    height: 20vh;
    margin-top: 5%;
}

header h2{
    font-size: xx-large;
}

header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a{
    color: #513829;
    text-decoration: none;
}

 header a:visited{
    text-decoration: none;
    color: #513829;
}

li span{
    color: #C7D076;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.7px;
}

li a:hover{
    color: #C7D076;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.7px;
}

li a:active{
    color: #513829;
}

.containerGrand{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.containerPetitDebut{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

.containerPetitMilieu{
    text-align: center;
}

.containerPetitFin{
    text-align: end;
    margin-right: 1%;
}

.containerImg{
    display: flex;
    justify-content: space-around;     
}

img[alt^="Icône"]{
    width: 25px;
    height: 25px;
}

button{
    background-color: #513829;
    border-radius: 5%;
    color: #C7D076;
}

button a{
    text-decoration: none;
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    font-size: x-large;
    margin-left: 5px;
    margin-right: 5px;
}

button a:visited{
    color: #C7D076;
    text-decoration: none;
}