* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    background-color: #F8F1E1;
}

header, footer{
    background-color: #D5AA7D;
    width: 100%;
}

footer{
    height: 20vh;
    margin-top: 5%;
}

nav img[alt="Logo du restaurant Marinade et Limonade"]{
    height: 200px;
}

nav a{
color: #513829;
text-decoration: none;
font-size: 2.5rem;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 nav a:visited{
    text-decoration: none;
    color: #513829;
}

li span{
    color: #C7D076;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.7px;
    font-size: 2.5em;
}

li a:hover{
    color: #C7D076;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.7px;
}

li a:active{
    color: #513829;
}

.containerGrand{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.containerPetitDebut{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

.containerPetitMilieu{
    text-align: center;
}

.confi{
    display: flex;
    font-size: 0.7rem;
}

.containerPetitFin{
    text-align: end;
    margin-right: 1%;
}

.containerImg{
    display: flex;
    justify-content: space-around; 
    color:#D5AA7D;   
}

img[alt^="IcôneH"]{
    width: 50px;
}

img[alt^="IcôneF"]{
    width: 25px;
}

img[alt^="LogoR"]{
    width: 100px; 
}

.responsive{
    display: none;
}

button{
    background-color: #513829;
    border-radius: 10px;
}

button a{
    color: #C7D076;
    text-decoration: none;
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    font-size: 250%;
    padding-right: 2em;
    padding-left: 2em;
}

button a:visited{
    color: #C7D076;
    text-decoration: none;
}